<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
</head>
<body>
<form>
<label for="currency">Choose currency:</label>
{{code}}
<select name="currency" id="currency">
  <option value="dolar amerykański">USD</option>
  <option value="sdolar australijski">AUD</option>
  <option value="dolar kanadyjski">CAD</option>
  <option value="euro">EUR</option>
  <option value="forint (Węgry)">HUF</option>
  <option value="frank szwajcarski">CHF</option>
  <option value="funt szterling">GBP</option>
  <option value="jen (Japonia)">JPY</option>
  <option value="korona czeska">CZK</option>
  <option value="korona duńska">DKK</option>
  <option value="korona norweska">NOK</option>
  <option value="korona szwedzka">SEK</option>
  <option value="DR (MFW)">XDR</option>
</select>

<label for="amount">Want to exchange:</label>
  <input type="number" id="amount" name="amount"><br> <input type="submit" value="quantify">
</form>
</body>
</html>